<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Treasure Hunt</title>

    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/base.css">
</head>
<body>
<div class="container" ng-controller="MyController">

    <div class="page-header">
        <h1>Treasure Hunt</h1>
    </div>

    <div ng-show="done">
        You win!
        <button class="btn btn-primary" ng-click="getData()">
                Play Again?
        </button>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-9">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Click to start game
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="getData()">Start</button>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <table class="table">
                <tr ng-repeat="person in people">
                    <td>{{ person.name }}</td>
                    <td>{{ person.color }}</td>
                </tr>
            </table>
        </div>
    </div>
    
     <div class="row" ng-repeat="row in grid">
        <div class="col-md-1 clickable" ng-click="clickTree(cell)" ng-repeat="cell in row">
            <img src='img/tree10.png' ng-class="{tree: !grid[cell.row][cell.col].clicked, hidden: grid[cell.row][cell.col].clicked}">
            <img src='img/orangutan.gif' ng-class="{tree: !grid[cell.row][cell.col].clicked, hidden: grid[cell.row][cell.col].clicked}">
            <img src='img/Treasure.png' ng-class="{tree: !grid[cell.row][cell.col].clicked, hidden: grid[cell.row][cell.col].clicked}">
        </div>
    </div>
</div>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="js/base.js"></script>
</body>
</html>
