body {
    font-family: 'Ubuntu', serif;
    font-size: 16px;
    margin: 0;
}

h1 {
    font-family: 'Raleway', serif;
    font-size: 30px;
}

.spacer {
    height: 30px;
}

.tree {
    background-image: url('/img/tree10.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 40px;
}

.orangutan {
    background-image: url('/img/orangutan.gif');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 40px;
}

.treasure {
    background-image: url('/img/Treasure.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 40px;
}

.blank {
    background-image: url('/img/white.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 40px;
}

.clickable:hover {
    cursor: pointer;
    /*border: 1px black solid;*/
}